<ion-content padding>
   
    
     <ion-list inset>
        <button ion-item *ngFor="let item of items" (click)="editPost(item)">
        <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;แก้ไขข้อมูลส่วนตัว
        </button> 
        
      </ion-list>
      <ion-list inset>
        <button ion-item *ngFor="let item of items" (click)="upPost(item)">
        <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;อัพโหลดเอกสาร
        </button> 
        
      </ion-list>
      <ion-list inset>
          <button ion-item *ngFor="let item of items" (click)="History(item)">
          <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;รายการเช่า
          </button> 
        </ion-list>
        <ion-list inset>
            <button ion-item *ngFor="let item of items" (click)="History(item)">
            <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;ประวัติรายการเช่า
            </button> 
          </ion-list>
        <ion-list inset>
            <button ion-item *ngFor="let item of items" (click)="logout()">
            <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;ออกจากระบบ
            </button> 
          </ion-list>
    </ion-content>
