<ion-content padding>
   
    
     <ion-list inset>
        <button ion-item *ngFor="let item of items" (click)="editPost(item)">
        <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;แก้ไขข้อมูลส่วนตัว
        </button> 
        
      </ion-list>
      <ion-list inset>
        <button ion-item *ngFor="let item of items" (click)="upPost(item)">
        <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;แก้ไขข้อมูลส่วนตัว
        </button> 
        
      </ion-list>
      <ion-list inset>
          <button ion-item *ngFor="let item of items" (click)="History(item)">
          <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการเช่า
          </button> 
        </ion-list>
      
    </ion-content>
