page-login {
    .getstart {

        background-image: url('../assets/imgs/bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    .marginTop{
        margin-top:150px;
        vertical-align: middle;
    }
    
}

